<nav>
  <ul>
    <li><a href="{{base}}/">Home</a></li>
    <li><a href="{{base}}/history">History</a></li>
    <!--li><a href="{% if page.url == '/' %}#two{% else %}{{base}}/#two{% endif %}" class="scrolly">Featured Projects</a></li-->
    <li><a href="{{base}}/grant-guidelines">Grant Guidelines</a></li>
    <li><a href="{{base}}/eligibility">Eligibility</a></li>
    <li><a href="{{base}}/recent-grants">Recent Grants</a></li>
    <li><a href="{{base}}/forms">Forms</a></li>
    <li><a href="{{base}}/contact">Contact Us</a></li>
    <!--li><a href="{% if page.url == '/' %}#three{% else %}{{base}}/#three{% endif %}" class="scrolly">Contact</a></li-->
  </ul>
  <ul>
    <li><a href="{{site.grant_application_login}}">Application Login</a></li>
  </ul>
</nav>
