<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/history">History</a></li>
    <!--li><a href="{% if page.url == '/' %}#two{% else %}{{ site.baseurl }}/#two{% endif %}" class="scrolly">Featured Projects</a></li-->
    <li><a href="{{ site.baseurl }}/grant-guidelines">Grant Guidelines</a></li>
    <li><a href="{{ site.baseurl }}/eligibility">Eligibility</a></li>
    <li><a href="{{ site.baseurl }}/recent-grants">Recent Grants</a></li>
    <li><a href="{{ site.baseurl }}/forms">Forms</a></li>
    <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
    <!--li><a href="{% if page.url == '/' %}#three{% else %}{{ site.baseurl }}/#three{% endif %}" class="scrolly">Contact</a></li-->
  </ul>
  <ul>
    <li><a href="{{site.grant_application_login}}">Application Login</a></li>
  </ul>
</nav>
